.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
  }
  
  .cartItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }
  
  .cartItem img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 10px;
  }
  
  .cartItem h3 {
    flex: 1;
    text-align: left;
  }
  
  .cartItem h2 {
    flex: 1;
    text-align: left;
    color: #007b63;
  }
  
  .cartItem div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cartItem button {
    background-color: #007b63;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background .3s;
  }
  
  .cartItem button:hover {
    background-color: #00584c;
  }
  
  @media screen and (max-width: 768px) {
    .cartItem {
      flex-direction: column;
    }
    
    .cartItem img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  #cartKoteret {
    text-align: center;
  }