.form {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    font-size: 18px;
}

.input-holder {
    margin-bottom: 35px;
    position: relative;
}

.input-holder label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-size: 20px;
}

.input-holder input {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

.input-holder input[type="submit"] {
    width: 100%;
    height: 60px;
    border: none;
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 22px;
}

.input-holder input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .form {
        padding: 20px;
    }

    .input-holder {
        margin-bottom: 20px;
    }

    .input-holder label {
        font-size: 16px;
    }

    .input-holder input {
        padding: 10px 10px;
        height: 40px;
        font-size: 16px;
    }
    
    .input-holder input[type="submit"] {
        height: 50px;
        font-size: 18px;
    }
}

#fixSpacingOfHeader {
    margin: 0;
    margin-top: 10px;
}